[submodule "pos_mandatory_invoice"]
	path = pos_mandatory_invoice
	url = git@github.com:eduwebgroup/pos_mandatory_invoice.git
[submodule "pos_payment_terms"]
	path = pos_payment_terms
	url = git@github.com:eduwebgroup/pos_payment_terms.git
[submodule "panama_divisions"]
	path = panama_divisions
	url = git@github.com:eduwebgroup/panama_divisions.git
[submodule "pos_pr"]
	path = pos_pr
	url = git@github.com:eduwebgroup/pos_pr.git
[submodule "pos_geolocation"]
	path = pos_geolocation
	url = git@github.com:eduwebgroup/pos_geolocation.git
